
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,400&family=Ranchers&display=swap');
.navbar{
    margin-right: 50px;
    margin-left: 50px;
    .navbar-brand{
        font-family: 'Ranchers', cursive;
        color: #000;
        font-size: 26px;
        font-family: Ranchers;
        font-style: normal;
        font-weight: 400;
        line-height: 101%;
        letter-spacing: 0.26px;
        text-transform: uppercase;
    }
}
main{
    margin-right: 100px;
    margin-left: 100px;
    color: black;
    .title{
        margin-top: 100px;
        font-size: 82px;
        font-family: Ranchers;
        font-style: normal;
        font-weight: 400;
        line-height: 101%;
        letter-spacing: 0.82px;
        text-transform: uppercase;
    }
    .subtitle{
        font-size: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        line-height: 165%;
        letter-spacing: 0.16px;
        margin-top: 20px;
    }
    .yellow-button{
        width: 229px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 50px;
        border: 2px solid #000;
        background: #FFDD5E;
    }
}
