
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,400&family=Ranchers&display=swap');
.navbar{
    margin-right: 50px;
    margin-left: 50px;
    .navbar-brand{
        font-family: 'Ranchers', cursive;
        color: #000;
        font-size: 26px;
        font-family: Ranchers;
        font-style: normal;
        font-weight: 400;
        line-height: 101%;
        letter-spacing: 0.26px;
        text-transform: uppercase;
    }
}
main{
    margin-right: 100px;
    margin-left: 100px;
    color: black;
    display: flex;
    .title{
        margin-top: 100px;
        font-size: 82px;
        font-family: Ranchers;
        font-style: normal;
        font-weight: 400;
        line-height: 101%;
        letter-spacing: 0.82px;
        text-transform: uppercase;
    }
    .subtitle{
        font-size: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        line-height: 165%;
        letter-spacing: 0.16px;
        margin-top: 20px;
    }
    .yellow-button{
        width: 229px;
        height: 55px;
        flex-shrink: 0;
        border-radius: 50px;
        border: 2px solid #000;
        background: #FFDD5E;
    }
    .image-1{
        margin-top: 40px;
    }
}

.ad-box{
    background-image: url('/UI/assets/add-image.png');
    width: 670px;
    height: 299px;
    background-position: right;
    .add-div{
        position: relative;
        top: 110px;
        left: 231px;
    }
}
.ad-box2{
    background-image: url('/UI/assets/add-image2.png');
    width: 670px;
    height: 299px;
    margin-top: 15px;
    background-repeat: no-repeat;
    .add-div{
        position: relative;
        left: 270px;
        top: 90px;
    }
}

.second{
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 25px;
    font-family: Ranchers;
    font-style: normal;
    font-weight: 400;
    line-height: 117%;
    letter-spacing: 0.625px;
    text-transform: uppercase;
}
.order-now{
    color: #000;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    line-height: 165%;
    letter-spacing: 0.16px;
    text-decoration: underline !important;
}

section{
    color: #000;
    margin-right: 100px;
    margin-left: 100px;
}

.title-2{
    font-size: 74px;
    font-family: Ranchers;
    font-style: normal;
    font-weight: 400;
    line-height: 101%;
    letter-spacing: 0.74px;
    margin-top: 80px;
}